{% load static %}

<!--Barra de navegación entre el header y el contenido-->
<div class="w3-mobile w3-center" id="navigation">
        <button class="nav-arrow" id="left-arrow" onclick="left()">
                <i class="fas fa-caret-left"></i>
        </button>
        <div class="categories" id="scrolling-menu">
                {% if categories == "true" %}
                <br>
                <br>
                <br>
                <h5>Aquí van categorías</h6>
                        {% else %}
                        <!--AQUÍ IRÍA ALGO ALTERNATIVO A LAS CATEGORÍAS SI ESTAS, POR LO QUE SEA, NO CARGAN-->
                        <!--Aquí se incluyen las categorías-->
                        <a href="category?id=Electrónica" class="category-link"><img
                                        src="{% static 'resources/electronica.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="category?id=Móviles" class="category-link"><img
                                        src="{% static 'resources/moviles.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="category?id=Consolas" class="category-link"><img
                                        src="{% static 'resources/consolas.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="category?id=Motor" class="category-link"><img src="{% static 'resources/motor.png' %}"
                                        alt="soy una categoria" class="category-img"></a>
                        <a href="category?id=Motos" class="category-link"><img src="{% static 'resources/motos.png' %}"
                                        alt="soy una categoria" class="category-img"></a>
                        <a href="category?id=Coches" class="category-link"><img
                                        src="{% static 'resources/coches.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        {% endif %}
        </div>
        <button class="nav-arrow" id="right-arrow" onclick="right()">
                <i class="fas fa-caret-right"></i>
        </button>
</div>