{% load static %}

<!--Barra de navegación entre el header y el contenido-->
<div class="w3-mobile w3-center" id="navigation">
        <button class="nav-arrow" id="left-arrow" onclick="left()">
                <i class="fas fa-caret-left"></i>
        </button>
        <div class="categories" id="scrolling-menu">
                {% if categories == "true" %}
                <br>
                <br>
                <br>
                <h5>Aquí van categorías</h6>
                        {% else %}
                        <!--AQUÍ IRÍA ALGO ALTERNATIVO A LAS CATEGORÍAS SI ESTAS, POR LO QUE SEA, NO CARGAN-->
                        <!--Aquí se incluyen las categorías-->
                        <a href="algun sitio" class="category-link"><img src="{% static 'resources/category-bag.png' %}"
                                        alt="soy una categoria" class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-watch.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-shoe.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>

                        {% if moreCategories == "true" %}
                        <!--A PARTIR DE AQUÍ, COMPROBAMOS QUE FUNCIONE EL SCROLL HORIZONTAL-->
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        <a href="algun sitio" class="category-link"><img
                                        src="{% static 'resources/category-laptop.png' %}" alt="soy una categoria"
                                        class="category-img"></a>
                        {% endif %}
                        {% endif %}
        </div>
        <button class="nav-arrow" id="right-arrow" onclick="right()">
                <i class="fas fa-caret-right"></i>
        </button>
</div>