<div class="w3-display-container" id="footer-container">
    <div id="footer" class="w3-border-bottom">
        <!--Una lista por cada sección del footer-->
        <div class="footer-sections w3-row">
            <ul class="footer-list w3-col w3-quarter w3-mobile">
                <li>
                    <h6 class="footer-title">SecondChance</h6>
                </li>
                <li><a href="">Quiénes somos</a></li>
                <li><a href="">Prensa</a></li>
                <li><a href="">Empleo</a></li>
                <li><a href="">Equipo</a></li>
            </ul>
            <ul class="footer-list w3-col w3-quarter w3-mobile">
                <li>
                    <h6 class="footer-title">Soporte</h6>
                </li>
                <li><a href="">Preguntas frecuentes</a></li>
                <li><a href="">Reglas de convivencia</a></li>
                <li><a href="">Consejos de seguridad</a></li>
            </ul>
            <ul class="footer-list w3-col w3-quarter w3-mobile">
                <li>
                    <h6 class="footer-title">Legal</h6>
                </li>
                <li><a href="">Condiciones de uso</a></li>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Cookies</a></li>
            </ul>
            <ul class="footer-list w3-col w3-quarter w3-mobile">
                <li>
                    <h6 class="footer-title">Mi comunidad</h6>
                </li>
                <li>
                    <!--Aquí metemos los enlaces en un div para asignarles la forma
                    que se pide en el mockup-->
                    <div class="social-media w3-container">
                        <div class="w3-row">
                            <a href="http://www.facebook.com" target="_blank" class="w3-col l2 social-link"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="mailto:example@mail.com" target="_blank" class="w3-col l2 social-link"><i
                                    class="fab fa-google"></i></a>
                        </div>
                        <div class="w3-row">
                            <a href="http://www.twitter.com" target="_blank" class="w3-col l2 social-link"><i
                                    class="fab fa-twitter"></i></a>
                            <a href="http://www.instagram.com" target="_blank" class="w3-col l2 social-link"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--Por último, barra de separación y copyright-->
        <hr>
        <p id="copyright">Copyright © 2019 Secondchance</p>
    </div>
</div>