{% load static %}

<div class="w3-bar" id="header">
    <button id="menuBtn" class="w3-mobile w3-hide-small"><i alt="menu desplegable" class="fas fa-bars w3-xlarge"
            id="menuBtn"></i></button>
    <a href="/" class=" w3-mobile w3-margin-bottom"><img src="{% static 'resources/logo.jpg' %}" alt="logo pagina"
            class="logo w3-mobile w3-image w3-circle w3-tiny w3-center" id="logo-link"></a>

    <form action="search" method="get" class="w3-mobile w3-show-inline-block w3-medium w3-margin-bottom w3-center"
        id="search-form">
        <button type="submit" class="w3-button" id="search-button"><i class="fas fa-search"></i></button>
        <input type="text" name="search" class="w3-large" id="search-bar" placeholder="Introduce tu búsqueda...">
    </form>

    {% if messages %}
    <script>
        window.alert('TE EQUIVOQUIASTE');
    </script>
    {% endif %}

    <!--Botón de login y register-->
    {% if request.user.username != '' %}

    {{request.user.username}}
    <a href="user" class="w3-mobile w3-margin-bottom w3-right-align"><img src="{% static 'resources/logo.jpg' %}"
            alt="logo pagina" class="logo w3-mobile w3-image w3-circle w3-tiny w3-center" id="logo-link"></a>

    <a href="logout" class="w3-mobile w3-margin-bottom">
        <button class="w3-button w3-round-xlarge w3-medium w3-hover-white" id="logout">Salir</button>
    </a>

    {% else %}
    <div class="w3-show-inline-block w3-right w3-mobile" id="access-buttons-container">
        <div class="w3-col l3">
            <div class="w3-row access-row access-row-button">
                <button class="w3-button w3-round-xlarge w3-large w3-hover-white" id="register"
                    onclick="openAccessModal(false)">Registrarse</button>
            </div>
            <div class="w3-row access-row access-row-button">
                <button class="w3-button w3-round-xlarge w3-large w3-hover-white" id="login"
                    onclick="openAccessModal(true)">Acceder</button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="w3-modal" id="accessModal">
        <div class="w3-modal-content w3-animate-top" id="access-modal">
            <div class="w3-bar w3-red w3-mobile">
                <button class="w3-button w3-white tab-button" id="tab-register-button"
                    onclick="openTab('register-tab', 'tab-register-button')">Registro</button>
                <button class="w3-button w3-white tab-button" id="tab-login-button"
                    onclick="openTab('login-tab', 'tab-login-button')">Acceso</button>
                <button class="w3-right w3-button w3-circle" id="closeModalButton" onclick="closeModal()">X</button>
            </div>
            <div id="register-tab" class="tab-content w3-container" style="display: none;">

                <h1 class="w3-center">Registrar</h1>
                <!-- FORMULARIO DE REGISTRO -->
                <form action="register" class="w3-center">
                    {% csrf_token %}

                    <input type="text" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round" name="name"
                        placeholder="Nombre" id="register-name-input">

                    <input type="text" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round"
                        name="surname" placeholder="Apellidos" id="register-name-input">

                    <input type="text" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round" name="mail"
                        placeholder="Correo electrónico" id="register-mail-input">

                    <input type="text" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round"
                        name="document" placeholder="Doc. Identificación" id="register-doc-input">

                    <input type="text" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round" name="tlf"
                        placeholder="Teléfono" id="register-tlf-input">

                    <input type="text" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round"
                        name="username" placeholder="Nombre de Usuario" id="register-username-input">

                    <input type="password" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round"
                        name="pass" placeholder="Contraseña" id="register-pass-input">

                    <input type="password" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round"
                        name="repeatPass" placeholder="Repetir Contraseña" id="register-repeat-pass-input">

                    <input type="submit" class="w3-row w3-mobile w3-button w3-round-xlarge w3-xlarge"
                        value="Registrarse" name="Registrarse" id="register-submit-button">
                </form>

            </div>
            <div id="login-tab" class="tab-content w3-container" style="display: none;">
                <h1 class="w3-center">Acceder a B&sup3;</h1>

                <form action="login" method="POST" class="w3-center">
                    {% csrf_token %}
                    <input type="text" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round"
                        name="username" placeholder="Usuario" id="login-username-input">

                    <input type="password" class="w3-row w3-mobile w3-input w3-animate-input w3-border w3-round"
                        name="pass" placeholder="Contraseña" id="login-pass-input">

                    <input type="submit" class="w3-row w3-mobile w3-button w3-round-xlarge w3-xlarge" value="Acceder"
                        name="Acceder" id="login-submit-button">
                </form>
            </div>
        </div>
    </div>
</div>