{% load static %}

<div class="product" id="{{product_id}}">
    <img src="{% static product_img %}" alt="Soy una imagen del producto">
    <h3 class="product-name">{{product_name}}</h3>
    <h4 class="product-price">{{product_price}}</h4>
    <h4 class="product-vendor">{{product_vendor}}</h4>

    <div class="w3-row">
        <div class="tooltip w3-left w3-margin-left w3-border w3-padding w3-small">
            Ver más
            <div class="right">
                <img src="{% static product_img %}" />
                <div class="text-content">
                    <h3>Fade in Effect</h3>
                    <ul>
                        <li>This demo has fade in/out effect.</li>
                        <li>It is using CSS opacity, visibility, and transition property to toggle the tooltip.</li>
                        <li>Other demos are using display property<em>(none or block)</em> for the toggle.</li>
                    </ul>
                </div>
                <i></i>
            </div>
        </div>

        <button class="w3-right w3-xlarge w3-circle w3-right-align product-cart-button"
            onclick="changeProductCardOverview(this)">
            <i class="fas fa-cart-plus"></i>
        </button>
    </div>

</div>